<!DOCTYPE html>

<html>
<head>
    <title>Warehouse Software</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        body, table {
            margin: auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Készlet</h1>
    <table>
        <tr>
            <th>Név</th>
            <th>Mennyiség</th>
            <th>Bevétel/Kivétel</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Quantity</td>
    <td><form action="stock" method="post">
    <input type="text" name="count">
    <input type="hidden" value="@item.ProductId" name="id">
    <input type="submit" value="Elküldés">
</form></td>
        </tr>
        }
        </table>
        <form action="/">
            <input type="submit" value="Vissza" />
        </form>
</body>
</html>
