<!DOCTYPE html>

<html>
<head>
    <title>Warehouse Software</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }

        body, table {
            margin: auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Termék hozzáadása</h1>
    <form action="/add" method="post">
        <table>
            <tr>
                <th>Azonosító</th>
                <th>Név</th>
                <th>Ár</th>
                <th>Súly</th>
                <th>Leírás</th>
            </tr>
            <tr>
                <td>
                    <input type="text" name="productcode">
                </td>
                <td>
                    <input type="text" name="name">
                </td>
                <td>
                    <input type="text" name="price">
                </td>
                <td>
                    <input type="text" name="weight">
                </td>
                <td>
                    <input type="text" name="description">
                </td>
            </tr>
        </table>
        <input type="submit" value="Mentés" />
    </form>
    <div>
        <form action="/products">
            <input type="submit" value="Vissza" />
        </form>
    </div>
</body>
</html>
