<!DOCTYPE html>

<html>
<head>
    <title>Warehouse Software</title>
</head>
<body>
    <h1>Raktárkezelő</h1>
    <form action="/products">
        <input type="submit" value="Termékek" />
    </form>
    <form action="/stats">
        <input type="submit" value="Statisztika" />
    </form>
</body>
</html>
